.btn_booktour{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:#000;
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: 0.2s linear;
}

.btn_booktour:hover {
    background-color: #2cccff;
    color:#fff;
    transform: scale(1.05);
}

.amount_input {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}
.tour_ticket-in {
    position: absolute;
    top:8rem;
    width: 100%;
    padding: 3rem;
}

.tour_name {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 4rem;
}

.wrap_form_tour-in {
    margin: 2rem 0 2rem 4rem;
}

.wrap_form_tour-in p {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 3rem;
}

.form_tour-in {
    border: 1px solid #ccc;
    padding: 2rem 4rem;
    border-radius: 10px;
    position: relative;
}


.form_tour-in .input {
    padding: 1rem 3rem;
    margin: 2rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
}

.wrap_cus-amount{
    position: relative;
}

.tour_name-customer {
    width: 400px;
}


.wrap_price-txt{
    background-color: #2cccff;
}

.price_txt {
    font-size: 14px;  
    font-weight: 600;
    position: absolute;
    right: 0;
    transform: translate(-5rem, 0);
}
.txt2 {
    transform: translate(-5rem, 120%);
}

.amount_cus-text {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    right: 10%;
    border-radius: 10px;
    background-color: #b5e1f1;
    padding: 2rem;
    
}

.amount_cus{
    font-size: 18px;
    font-weight: 800;
    padding: 1rem;
}


.wrap_content-customer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact_customer {
    margin-top:2rem;
    padding: 2rem;
    border:1px solid #ccc;
    margin-left:4rem;
    border-radius: 10px;
    width: 60%;
}

.contact_customer-form p{
    font-size: 18px;
    font-weight: 700;
    padding: 2rem;
}

.contact_customer-form label {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top:0;
    left:0;
    transform: translatey(-100%);
}

.contact_customer-form input {
    width: 100%;
    padding: 10px 15px 10px 5px;
    border-radius:10px;
    font-size: 16px;
    outline: none;
    border:1px solid #ccc;
}

.contact_customer-form .contact_customer-item:nth-child(3) input {
    width: 50%;;
}

.contact_customer-item {
    margin: 30px;
    position: relative;
}

.wrap_ticket-price {
    padding: 2rem;
    margin-top:2rem;
    border:1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.ticket_price {
    width: 400px;  
}

.title_price {
    font-size: 18px;
    font-weight: 700;
    padding: 2rem;
}

.ticket_price-item {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.ticket_price-item label {
    font-size: 16px;
    font-weight: 500;
}

.ticket_price-item p,span {
    font-size: 16px;
    font-weight: 600;
}

.link_login-dattour{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    background-color: #ccc;
    padding: 20px;
    position: absolute;
    bottom: 60px;
    left: 0;
    text-align: center;
}

.link_login-dattour:hover {
    background-color: #2cccff;
    color:#fff;
}
