@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: #eee;
    scroll-behavior: smooth;
}   

h1 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-left:5rem;
    margin-top: 3rem;
}

h5 {
    font-size: 2rem;
    margin:1.5rem;
}

header {
    width: 100%;
    height: 8rem;
    background: rgb(255, 255, 255);
    position: fixed;
    transition: background 0.25s linear;
    z-index: 99;
    border-bottom: 1px solid #ccc;
}

header:hover {

}

.head_menu {
    display: flex;
    padding: 0 16rem 0 3rem;
    justify-content: space-between;
}

.text_logo {
    font-size: 3.2rem;
    text-decoration: none;
    font-weight: 700;
    margin-left: 5rem;
    color:#000;
}



.nav_menu {
    margin-top: 1rem;
    margin-left: 3rem;
    position: absolute;
}

.list_menu {
    display: flex;
    height: 2.5rem;
}

.list_item {
    padding: 0 4rem 0 4rem;
    list-style-type: none;
    height: 100%;
    line-height: 25px;
    position: relative;
    cursor: pointer;  
}
.list_item::before  {
    content:'';
    bottom:0;
    left: 0;
    width:0;
    height:0;
    position: absolute;
    background-color: #2cccff;
    z-index: -1;
    transition:height 0.1s linear , width 0.25s linear 0.1s;
}
.list_item:hover::before {
    height:3px;
    width:100%;
}
.list_item:hover .menu_link{
    color: #000;
}

.menu_link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: rgb(83, 83, 83);
    transition: 0.25s linear;
}

.wrap_user_info{
    position: relative;
}

.user_info {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    top:20px;
}

.user_image {
    width: 40px;
    height:40px;
    border: 2px solid #afafaf;
    border-radius: 50%;
}

.user_name {
    font-size: 1.4rem;
    font-weight: 600;
    cursor:default;
    margin-left: 10px;
}

.wrap_user-info:hover .nav_user-list {
    display: block;
}

.nav_user-info {
    line-height: 2;
    position: absolute;
    top:0;
    right:0;
    transform: translate(-100%,40%);
    border:1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.nav_user-list {
    display: none;
    list-style-type: none;
}

.nav_user-list::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 20px;
    transform: translateY(-100%);
}

.nav_user-item {
    padding:5px 20px;
    cursor: pointer;
    transition: 0.25s linear;
}

.nav_user-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav_user-item:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.nav_user-item:hover {
    background-color: #ccc;
}

.nav_user-link {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
}
.cart_amount {
    position: absolute;
    top:0;
    right:0;
    width: 50px;
    height: 50px;
    color: #2cccff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    transform: translate(-100%,30%);
}

/* planeticket_out */

.planeticket_out {
    position: absolute;
    margin-top: 80px;
    width: 100%;
}

.title_info {
    height: 60px;
    background-color: #2cccff;
    color: #fff;
    padding-left: 100px;
    display:flex;
    align-items: center;
}

.menu_info {
    width: 100%;
}

.menu_info-list {
    height: 40px;
    align-items: center;
    display: flex;
    padding-left: 150px;
}

.menu_info-link {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color:rgb(83, 83, 83);
}

.menu_info-item {
    list-style-type: none;
    padding:10px 30px;
    position: relative;
}
.menu_info-item::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    opacity: 0;
    border-radius: 2px;
    width: 80%;
    background-color: #2cccff; 
    transition: 0.25s linear;
}
.menu_info-item.active{
    color:#000;
}
.menu_info-item.active::before {
    opacity: 1;
}
.menu_info-item:hover::before {
    opacity: 1;
}

.menu_info-link:hover {
    color:#000;
}

.wrap_ticket-info {
    margin-top: 20px;
    padding: 20px;
    display: flex;
}

.cus-info {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}

.tbl_show-ticket {
    max-width: 70%;
    border: 1px solid #ccc;
    text-align: center;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
}
.tbl_show-ticket td {
    border-bottom: 2px solid #ccc;
}
.tbl_show-ticket th {
    font-size: 14px;
}
.tbl_show-ticket th:first-child {
    text-align: left;
    padding-left: 20px;
}
.tbl_show-ticket .input {
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    pointer-events:none;
}

.cus_name {
    width: 400px;
}
.cus_age {
    width: 150px;
}
.cus_sex {
    width: 150px;
}
.ticket_amount {
    position: absolute;
    top: 0;
    right: 0;
}

.show_info-contact {
    padding: 60px;

}
.wrap_show-ct {
    border: 1px solid #ccc;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
}

.show_info-contact p {
    font-size: 18px;
    font-weight: 600;

}

.show_info-contact input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    pointer-events: none;
}
.show_info-contact label {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    top: -20px;

}


.wrap_ct {
    position: relative;
    margin-top: 30px;
    margin-right: 60px;
}

.ct-1 {
    display:flex;
}

.show_name {
    width: 400px;
}

.show_phone {
    width: 200px;

}

.show_email {
    width: 400px;
}

.show_plane-info {
    width: 35%;
    margin-left: 20px;
    border-radius: 10px;
}

.airline_info {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}
.airline_place {
    display: flex;
    width: 100%;
    align-items: center;
    height: 30px;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.airline_place  p,i {
    font-size: 16px;
    font-weight: 600;
}

.wrap_detail-time {
    display: flex;
    justify-content: space-around;
}

.fly_item {
    padding: 10px 0;
    text-align: center;
}

.time_start {
    margin-bottom: 50px;
}
.total_fly-time {
    margin-bottom: 50px;
    text-align: right;
}

.total_fly-time p:last-child {
    font-size: 14px;
    font-weight: 600;
}
.time_end {
    
}

.time {
    font-weight: 600;
    font-size: 18px;
}

.aminate_plane {
    height: 100%;
    padding: 50px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;

}
.fa-plane {
    transform: rotateZ(90deg) translate(70px,50%);
    position: absolute;  
    top:0; 
    color: #2cccff;
    font-size: 30px;
    transition: 1s linear;
    -webkit-text-stroke: 2px #000;
}

.airline_info:hover .fa-plane{
    animation: plane 1s infinite linear;
} 

.place {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 100%;
    z-index: 100;
}
.place-start{
    top: 0;
}

.place-end{
    bottom: 0;
}


/* animate plane */

@keyframes plane {
    0%, 100% {
        transform: rotateZ(90deg) translate(70px,50%);
    }
    33% {
        transform: rotateZ(90deg) translate(75px,45%);
    }
    66% {
        transform: rotateZ(90deg) translate(70px,55%);
    }
}

.cloud-items {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
}
.fa-cloud {
    position: absolute;
    top: calc(65px*(var(--i)));
    left: calc(25px*(var(--i)));
    font-size: 20px;
    -webkit-text-stroke: 1px #000;
    color: #fff;
    opacity: 0;
}

.airline_info:hover .fa-cloud{
    animation: clouds 1.5s infinite linear;
    animation-delay: calc(-0.8s * var(--i));
    opacity: 1;
}
@keyframes clouds {
    0%{
        transform: translateY(calc(40* 5px));
    }
    100% {
        transform: translateY(calc(-40* 5px));
    }
}


.wrap_show-price {
    padding: 2rem;
    margin-top:2rem;
    border:1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.title_show-price {
    font-size: 18px;
    font-weight: 700;
    padding: 1rem;
}

.show_price-item {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.show_price-item label {
    font-size: 16px;
    font-weight: 500;
}

.show_price-item p,span {
    font-size: 16px;
    font-weight: 600;
}

.btn_edit-ticket {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:#000;
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: 0.2s linear;
}
.btn_edit-ticket:hover {
    background-color: #2cccff;
    color:#fff;
    transform: scale(1.05);
}